{% extends "frontend/base.html" %}

{% block title %} Update Project {% endblock %}

{% block body %}
<div id="form-wrapper">
    <form id="form">
        <div class="row mt-5">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <input type="hidden" value="{{ id }}" id="details">
                <label for="title">Project Title:</label>
                <input type="text" name="title" id="title" class="form-control" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <label for="discription">Description:</label>
                <textarea id="discription" name="discription" rows="5" class="form-control" required></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <label for="duration">Duration(in days):</label>
                <input type="number" id="duration" name="duration" class="form-control" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <input type="submit" id="submit" value="Update" class="btn btn-dark btn-block">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <a type="button" class="btn btn-info btn-block" href="/">
                    Go Back <i class="fas fa-reply"></i>
                </a>
            </div>
        </div>                
    </form>
</div>

<script>
    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

    
    // Fetching data with id
    projectDetails()
    function projectDetails(){
        var details = document.getElementById('details').value
        var url = `http://127.0.0.1:8000/api/project/details/${details}`
        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
            document.getElementById('title').value = data.title
            document.getElementById('discription').value = data.discription
            document.getElementById('duration').value = data.duration
            $('.loading').toggle()
        })
        
    }

    // Updating the items
    var form = document.getElementById('form-wrapper')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        $('.loading').toggle()
        var details = document.getElementById('details').value
        var title = document.getElementById('title').value
        if (title.length == 0){
            alert("Must Provide Project Title!")
            return false
        }

        var discription = document.getElementById('discription').value
        if (discription.length == 0){
            alert("Must Provide Project Description!")
            return false
        }

        var duration = document.getElementById('duration').value
        if (duration.length == 0){
            alert("Must Provide Project Duration!")
            return false
        }

        var url = `http://127.0.0.1:8000/api/project/update/${details}`
        fetch(url, {
            method:'POST',
            headers:{
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body:JSON.stringify({
                'title': title,
                'discription': discription,
                'duration': duration,
            })
            
        }).then(function(response){
            document.getElementById('form')
            window.location.replace('/')
        })
    })

</script>
{% endblock %}