{% extends "frontend/base.html" %}

{% block title %} Update Task {% endblock %}

{% block body %}
<div id="form-wrapper">
    <form id="form">
        <div class="row mt-5">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <input type="hidden" value="{{ t_id }}" id="t_id">
                <input type="hidden" value="{{ p_id }}" id="p_id">
                <label for="title">Project Title:</label>
                <input type="text" name="title" id="title" class="form-control" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <label for="discription">Description:</label>
                <textarea id="discription" name="discription" rows="5" class="form-control" required></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <label for=">start_date">Start Date:</label>
                <input type="text" id="start_date" name="start_date" class="form-control" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-5">
                <label for="end_date">End Date:</label>
                <input type="text" id="end_date" name="end_date" class="form-control" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <input type="submit" id="submit" value="Update" class="btn btn-dark btn-block">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <a type="button" class="btn btn-info btn-block" href="/">
                    Go Back <i class="fas fa-reply"></i>
                </a>
            </div>
        </div>                
    </form>
</div>

<script>
    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

    // Date Validation
    $(function(){
            $('#start_date').datepicker({
                numberOfMonths:1,
                dateFormat:'DD,d MM,yy',
                onSelect:function(selectdate){
                    var d = new Date(selectdate)
                    d.setDate(d.getDate() + 1)
                    $('#end_date').datepicker("option", "minDate", d)
                }
            })

            $('#end_date').datepicker({
                numberOfMonths:1,
                dateFormat:'DD,d MM,yy',
                onSelect:function(selectdate){
                    var d = new Date(selectdate)
                    d.setDate(d.getDate() - 1)
                    $('#start_date').datepicker("option", "maxDate", d)
                }
            })
        })
        
    // Fetching data with id
    projectDetails()
    function projectDetails(){
        var t_id = document.getElementById('t_id').value
        var p_id = document.getElementById('p_id').value
        var url = `http://127.0.0.1:8000/api/project/${p_id}/task/details/${t_id}`
        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
            document.getElementById('title').value = data.title
            document.getElementById('discription').value = data.discription
            document.getElementById('start_date').value = data.startdate
            document.getElementById('end_date').value = data.enddate
            $('.loading').toggle()
        })
    }

    // Updating the items
    var form = document.getElementById('form-wrapper')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        $('.loading').toggle()
        
        var t_id = document.getElementById('t_id').value
        var p_id = document.getElementById('p_id').value
        var title = document.getElementById('title').value
        if (title.length == 0){
            alert("Must Provide Task Title!")
            return false
        }

        var discription = document.getElementById('discription').value
        if (discription.length == 0){
            alert("Must Provide Task Description!")
            return false
        }

        var start_date = document.getElementById('start_date').value
        if (start_date.length == 0){
            alert("Must Provide Task Start Date!")
            return false
        }

        var end_date = document.getElementById('end_date').value
        if (end_date.length == 0){
            alert("Must Provide Task End Date!")
            return false
        }

        var url = `http://127.0.0.1:8000/api/project/${p_id}/task/update/${t_id}`
        fetch(url, {
            method:'POST',
            headers:{
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body:JSON.stringify({
                'project': p_id,
                'title': title,
                'discription': discription,
                'startdate': start_date,
                'enddate': end_date
            })
            
        }).then(function(response){
            document.getElementById('form')
            window.location.replace(`/project/${p_id}/task`)
        })
    })

</script>
{% endblock %}